<section id="section-services">
    <div class="heading">
        <div class="container">
            <h2>Services We Offer</h2>
            <p>Select a service below for more information. Remember, prevention is always better than treatment, so if it’s been a while since your child has seen a dentist, please give us a call or <a href="#" data-toggle="modal" data-target="#requestAppointmentForm">
                    click&nbsp;to&nbsp;request&nbsp;an&nbsp;appointment</a>.</p>
        </div>
    </div>

    <div class="container">
        <div class="pyramid-list">
            {% for service in services %}
                {% if loop.index % 4 == 0 %}
                    {% set color='green' %}
                {% endif %}
                {% if loop.index % 4 == 1 %}
                    {% set color='blue' %}
                {% endif %}
                {% if loop.index % 4 == 2 %}
                    {% set color='green' %}
                {% endif %}
                {% if loop.index % 4 == 3 %}
                    {% set color='red' %}
                {% endif %}

            <div class="pyramid-list__item">
                <img src="assets/service_arrow--{{ color }}.png" alt="{{ color }}arrow icon">
                <a href="#" data-toggle="modal" data-target="#service--{{ service.modalTarget }}" class="pyramid-list__link">{{ service.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>