#section-services {
  background-image: url('/assets/services-section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% center;
  padding-bottom: 30px;
  @media (max-width: $width-sm - 1) {
    background-image: none;
    background-color: #ffffff;
  }
  .mobile-services-image {
    display: none;
    @media (max-width: $width-sm - 1) {
      margin-top: -100px;
      display: block;
    }
  }

  .heading {
    text-align: center;
    h2 {
      color: #5a710d;
      margin-bottom: 10px;
      padding-top: $spacing-md;
      padding-bottom: $spacing-sm;
    }
    p {
      line-height: 1.2;
      margin-bottom: 45px;
      a {
        color: #5a710d;
        text-decoration: underline;
      }
    }
  }

  .pyramid-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: 100%;
      @media (min-width: 768px) {
        width: 45%;
      }
      @media (min-width: 992px) {
        width: 30%;
      }
    }
  }
}
